<div class="grid_12">
  <h2 class="mheading green">
    List of media folders
    <p style="color:#889; font-size:10px;">
      {Info} Show all media directories
    </p>
  </h2>
  
  <% unless @media_dirs.empty? %>
    <% @media_dirs.each do |path, hash| %>
      <div class="line <%= @types[hash["type"]]%>">
        <div class="key">
          <span class="name"><%= path.split('/').last %></span>
          <span class="path"><%= path %></span>
        </div>
      
        <div class="value textRight">
          <%= link_to_remote :STOP,
            :loading => "$('#waitAnimation').show();",
            :after => "notify();",
            :html => {:class => "unshareDir blackBtn btn"},
            :url => {:action => 'destroy', "media[id]" => "#{hash["id"]}", :listview => true }
          %> 
        </div>
      </div>
    <% end %>
  <% else %>
    <h4>List of media folders is empty, please switch back to directory browser</h4>
  <% end %>
</div>

