<h2 class="mheading green">
  Global settings
  <p style="color:#889; font-size:10px;">
    {Info} Warning
  </p>
</h2>

<%= @globals.inspect %>
<div class="moduleForm">
  <div class="line">
  
    <div class="key">
      Workgroup
      <span class="description">Workgroup-Name or NT-Domain-Name</span>
    </div>
  
    <div class="value uppercase">
      textfiled
    </div>
  
    <div class='action'>
     
    </div>    
  </div>
    
  <div class="line">
    <div class="key">
      Netbios name
      <span class="description">is the computer name (usually same as your hostname)</span>
    </div>
  
    <div class="value uppercase">
      textfiled
    </div>
  
    <div class='action'>
     
    </div>
  </div>  
      
    
</div>
