<% form_remote_for :share,
    :url => {:action => 'create'},
    :before => "$('#wait').show();",
    :after => "slideTo(0); $('#wait').fadeOut(); ",
    :html => {:id => "new_form"},
    :update => "all-container" do |form| %>

    <% form.submit %>
    <% form.hidden_field :name %>
    <% form.text_field :id %>
    
    
      <h2 class="mheading grey">
        Autodiscover
        <p style="color:#889; font-size:10px;">
          TODO: find a way to autodiscover translated directories in user home,
          if autodiscover is not possible, show "select" link on every line
        </p>
      </h2>
      
      <div id="video" class="line">
        <div class="key"> 
          <div class="image-container">
            <img class="large" src="images/video.png"/>
          </div>
          <div class="info-container">
            <span class="name">VIDEO</span> 
            <span class="path">{PATH}</span>
          </div>
        </div>
        <div class="value">
          <a data-path="/root/Musik" class="share" href="#">SHARE</a>
        </div>
      </div>

      <div id="audio" class="line">
        <div class="key"> 
          <div class="image-container">
            <img class="large" src="images/audio.png"/>
          </div>
          <div class="info-container">
            <span class="name">AUDIO</span> 
            <span class="path">{PATH}</span>
          </div>
        </div>
        <div class="value">
          <a data-path="/root/Musik" class="share" href="#">SHARE</a>
        </div>
      </div>

      <div id="photo"  class="line">
        <div class="key"> 
          <div class="image-container">
            <img class="large" src="images/photo.png"/>
          </div>
          <div class="info-container">
            <span class="name">PHOTO</span> 
            <span class="path">{PATH}</span>
          </div>
        </div>
        <div class="value">
          <a data-path="/root/Musik" class="share" href="#">SHARE</a>
        </div>
      </div>
      
      <div id="backup"  class="line">
        <div class="key"> 
          <div class="image-container">
            <img class="large" src="images/backup.png"/>
          </div>
          <div class="info-container">
            <span class="name">BACKUP</span> 
            <span class="path">{PATH}</span>
          </div>
        </div>
        <div class="value">
          <a data-path="/root/Musik" class="share" href="#">SHARE</a>
          <%= link_to_remote "SELECT", :html => {:class=>"select"} %>
        </div>
      </div>

      <div id="custom-dir" class="line">
        <div class="key"> 
          <div class="image-container">
            <img class="large" src="images/customfile48.png"/>
          </div>
          <div class="info-container">
            <span class="name">CUSTOM</span> 
            <span class="path">{PATH}</span>
          </div>
        </div>
        <div class="value">
          <a class="share">SHARE</a>
          <a class="select">SELECT</a>
        </div>
      </div>
      
      

<% end %>

<div id="dir-chooser">
<!--  <div id="controls"></div>
  <div id="directories"></div>-->
</div>

<script type="text/javascript" src="/javascripts/dir-chooser.js" ></script>
<%= stylesheet_link_tag 'dir-chooser.css' %>

<script>
  jQuery(document).ready(function() {
    var home = "<%= ENV['HOME'] %>"
    $('#dir-chooser').dirchooser({parent: home});
    
    $('a.share').click(function() {
      $('#new_form').submit();
    });
  });
</script>

