
<div>
  <% for share in @shares %>
    <% unless share.name == "global" %>
    <div class="link">
      <%= link_to_remote(
           "<div class='key'>#{share.name}</div>" +
           "<div class='value'> <strong> {#} </strong> </div>",
           :before => "$('#wait').show();",
           :after => "expand($(this)); $('#wait').fadeOut('slow');",
           :update => 'mform',
           :url => {:action => 'show', :id => share.id, :name => share.name })
      %>
    </div>
    <% end %>
  <% end %>
</div>
