<h2 class="mheading grey">Shares list</h2>
<div id="shares">
  <% for share in @shares %>
    <% unless share.name == "global" %>
    <div class="link beforelink">
      <%= link_to_remote(
           "<div class='key'>#{share.name}</div>",
           :html => { :class=>'actionlink'},
           :before => "$('#wait').show();",
           :after =>  "$('#wait').fadeOut('slow'); slideTo(1);",
           :update => 'edit-container',
           :url => {:action => 'show', :id => share.id, :name => share.name })
      %>
      
      <div class='value'>
        <strong class="remove-placeholder">{#}</strong> 
        <%= link_to_remote(
           '<span class="delcont"><img src="../images/destroy.png"></span>',
           :html => { :class=>'remove-share'},
           :before => "$('#wait').show();",
           :after => "$('#wait').fadeOut('slow');",
           :update => "shares",
           :url => {:action => 'destroy', :id => share.id, :name => share.name })
        %>
      </div>
    </div>
    <% end %>
  <% end %>
</div>
