<div id="shares">
  <h2 class="mheading green">
    Shares list
    <p style="color:#889; font-size:10px;">
      {Info} Show all shares (should be a second slide)
    </p>
  </h2>

  <% for share in @shares %>
    <% unless share.name == "global" %>
    <div class="link beforelink">
      <%= link_to_remote(
           "<div class='key'>#{share.name}</div>",
           :html => { :class=>'actionlink'},
           :before => "$('#wait').show();",
           :after =>  "$('#wait').fadeOut('slow'); slideTo(1);",
           :update => 'edit-container',
           :url => {:action => 'show', :id => share.id, :name => share.name })
      %>

      <div class='value'>
        <strong class="remove-placeholder">{#}</strong>
        <%= link_to_remote(
           '<span class="delcont"><img src="../images/destroy.png"></span>',
           :html => { :class=>'remove-share'},
           :before => "$('#wait').show();",
           :after => "$('#wait').fadeOut('slow');",
           :update => "shares",
           :url => {:action => 'destroy', :id => share.id, :name => share.name })
        %>
      </div>
    </div>
    <% end %>
  <% end %>
</div>

