<div class="mstatus">
  <div class="grid_6">
    <p class="left">
      <img src="/images/samba-sym2.png" alt="Expanded" border="0" />
      SAMBA status:
    </p>
  </div>

  <div class="grid_6 right">
    <% form_remote_for @smb, :url => {:action => 'smbaction'},
         :before => "$('#wait').show();", :html => {:id => 'smbform'},
         :after => "$('#wait').fadeOut('slow');", :update =>'mform' do |form| %>
         <%= form.check_box(:status, { :id=> 'smbaction', :class => 'ftoggle smb', :checked  => @smb.status }, "start", "stop") %>
    <% end %>
  </div>
  <div class="clear"></div>
</div>
