 <% @dir.each do |d|%>
  <ul>
    <li>
          <%= link_to_remote(d,
          :update => 'folders',
          :url => {:controller => :playground, :action => 'getContent', :dir => d}) %>
        <% end %>
    </li>
  </ul>

