<style type="text/css">
    body {
        background-color:#EEEEEE;
        font-family:Verdana,Arial,Helvetica,sans-serif;
        font-size:11px;
        padding:15px;
    }
    .demo{
        background-color:#FFFFFF;
        border-color:#BBBBBB #FFFFFF #FFFFFF #BBBBBB;
        border-style:solid;
        border-width:1px;
        height:400px;
        overflow:scroll;
        padding:5px;
        width:200px;
    }
</style>



<div id="form" class="container_12">
  <div class="grid_8">
    <div class="border" style="border:1px solid grey; height:360px; text-align:center; background:#fff;">
      <img src="images/new.jpg">
    </div>
  </div>
  <div class="grid_4">
    <div id="folders" class="border" style="border:1px solid grey; height:360px; text-align:left; background:#fff;">
      <h2>Folder list</h2>
      <%= render :partial => 'folders' %>
    </div>
  </div>
</div>

<div class="clear"></div>

