<script type="text/javascript" src="/javascripts/filebrowser.js" ></script>
<% stylesheet_link_tag 'filebrowser.css' %>
<script>



//    setTimeout( function() {
//      $lines.show();
//    }, 180);


  $(function(){
    $('#controls a').click(function(){
      var activate = $(this).attr('id').split('_')[0];
      console.log(activate);

      var $containers = $('#containers').find('div.partial');

      $containers.each(function() {
        if($(this).hasClass("active")) {
            $(this).stop().animate({width: "1%" }, 300, function() {
              $(this).hide().removeClass('active');
            });
         }
      });

      //NOT WORKIN IN RAILS 2
      //$('#' + $(this).attr('data-action')).stop().animate({width: "90%" }, 300, function() {
      //  $(this).addClass('active')
      //});

      console.log($('#' + $(this).attr('id')))
      $('#' + activate).show().stop().animate({width: "99%" }, 300, function() {
        $(this).addClass('active')
      });



      //$('#' + $(this).attr('data-action')).css('width', '90%');

    });
  });
</script>


<style type="text/css">
  body {
    background-color:#EEEEEE;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size:16px;
  }

  #show {
    display:block;
    width:99%;
  }

  div.partial {
    border: 0px solid grey;
    width: 1%;
    float:left;
    display:none;
    background: #fff;
  }

  #controls {
    background:#353535;
  }

  #controls a {
    display:inline-block;
    width:25%;
    float:left;
  }

</style>
<!--
    ajax:before
    ajax:loading
    ajax:success
    ajax:failure
    ajax:complete
    ajax:after
-->

<div id="controls">
  <!--<a href="#" data-action="show">SHARES<a/>
  <a href="#" data-action="new" >NEW<a/>
  <a href="#" data-action="delete">DEL<a/>
  <a href="#" data-action="settings">SET<a/>-->

  <%= link_to_remote(
    "<img src='/images/plus.png'/>",
    :before => "$('#wait').show();",
    :update => 'new',
    :after => "$('#wait').hide();",
    :html => {:id => 'new_s'},
    :url => {:action => 'new'})
  %>

  <%= link_to_remote(
    "<img src='/images/trash.png'/>",
    :before => "$('#wait').show();",
    :update => 'remove',
    :after => "$('#wait').hide();",
    :html => {:id => 'remove_s'},
    :url => {:action => 'remove'})
  %>

  <%= link_to_remote(
    "<img src='/images/settings-white.png'/>",
    :before => "$('#wait').show();",
    :update => 'settings',
    :after => "$('#wait').hide();",
    :html => {:id => 'settings_s'},
    :url => {:action => 'settings'})
  %>

</div>

<div class="clear"></div>
<div>&nbsp;</div>

<div id="containers">
  <div id="show" class="partial active">
    1
  </div>

  <div id="new" class="partial">
    2
  </div>

  <div id="remove" class="partial">
    3
  </div>

  <div id="settings" class="partial">
    4
  </div>
</div>

<div class="clear"></div>

<div id="wait">Please wait a while ...</div>

<div class="clear"></div>

