<div class="container_12">
  <div class="grid_12">
    <div class="border" style="border:1px solid grey;">
      HEADER
    </div>
  </div>
</div>

<div class="clear"></div>
<br>

<div class="container_12">
  <div class="grid_4">
    <div class="border" style="border:1px solid grey;">
      <h2>All shares</h2>
    </div>
  </div>
  <div class="grid_4">
    <div class="border" style="border:1px solid grey;">
      <h2>Drop here</h2>
    </div>
  </div>
  <div class="grid_4">
    <div class="border" style="border:1px solid grey;">
      <h2>File browser</h2>
    </div>
  </div>
</div>

<div class="clear"></div>
<br>

<div class="container_12">
  <div class="grid_12">
    <div class="border" style="border:1px solid grey;">
      HEADER
    </div>
  </div>
</div>

<div class="clear"></div>
<br>

<div class="container_12">
  <div class="grid_8">
    <div class="border" style="border:1px solid grey;">
      <h2>Drop here</h2>
    </div>
  </div>
  <div class="grid_4">
    <div class="border" style="border:1px solid grey;">
      <h2>File browser</h2>
    </div>
  </div>
</div>

<div class="clear"></div>
