div#flash  {
  position:absolute;
  width:100%;
  left:0%;
  right:0%;
  top:0%;
  font-size:24px;
  z-index:2000;
  color:#fff;
  opacity: 0.85;
}

div#flash .error {
  padding:30px;
  border-radius:0px;
  text-shadow: -1px -1px 0px #000;
  border: 1px solid #900000;
  background: #900000;
}


div#flash .error a {
  color:#000;
  background: #900000;
  text-shadow: 0px 1px 0px #aaa;
  border-bottom:1px dotted #000;
  margin: 0px 10px;
}

