a { text-decoration:none;}

div.slider_container { position:relative; }

#slider {
    background-color: #888;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0.4em 0.4em 0.4em 0.4em;
    border-top: 1px solid rgba(255, 255, 255, 0.4);
    box-shadow: 0 0px 3px rgba(0, 0, 0, 0.6) inset;
    height: 36px;
    left: 0px;
    position: relative;
    top: 0px;
/*    width: 495px;*/
    width:90%;
    margin:15px auto;
/*    width:100%;*/
    padding:0px 3px;
    display:block;
    vertical-align:middle;
    text-align:left;
}

#slider span {
  float:left;
  position:relative;
  height:32px;
  margin:1px 0px;
  line-height:32px;
  width:50%;
  font-size:18px;
  text-align:center;
  color:#fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.7);
  font-weight:bold;
}

#box {
    background-color: white;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 2px;
    border-top: 1px solid rgba(255, 255, 255, 0.4);
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.8);
    height: 32px;
    position: relative;
    top: 1px;
    width: 50%;
    left: 0px;
    background: #eee;
    background: -moz-linear-gradient(center bottom , #efefef, #fff) repeat scroll 0 0 transparent;
/*    -moz-transition-property: none;*/
}

input[type=checkbox].ftoggle {
  position: absolute;
  visibility:hidden;
}

span.ftoggle_container {
    background-color: #888;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    border-top: 1px solid rgba(255, 255, 255, 0.4);
    box-shadow: 0 0px 3px rgba(0, 0, 0, 0.8) inset;
    height: 30px;
    position: relative;
    top: 0px;
    min-width:120px;
    padding:0px 3px;
    display:inline-block;
    vertical-align:middle;
    float:right;

}

span.ftoggle_container.red { background-color: #b00000; }
span.ftoggle_container.orange { background-color: orange; }
span.ftoggle_container.green { background-color: #009800; }
span.ftoggle_container.blue { background-color: #4E80B3; }
span.ftoggle_container.blue { background-color: #FCB243; }

span.ftoggle_label_left, span.ftoggle_label_right {
   color: #FFFFFF;
    font-size: 18px;
    font-weight: bold;
    height: 26px;
    line-height: 27px;
    margin: 1px 0;
    position: absolute;
    text-align: center;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.7);
    width: 50%;
}

span.ftoggle_label_right {
  right:0;
}

span.ftoggle_box {
   background-color: white;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
        border-radius: 2px;
    border-top: 1px solid rgba(255, 255, 255, 0.4);
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.8);
    height: 26px;
    position: relative;
    z-index:0;
    top: 1px;
    width:50%;
    left:0px;
    display:inline-block;
    background: -moz-linear-gradient(center bottom , #efefef, #fff) repeat scroll 0 0 transparent;
}

/*END TOGGLE*/











/* BUTTONS */




form input[type=text] {
  border:1px solid #ddd;
  padding:5px 0px;
  width:150px;
  text-align:center;
  font-size:18px;
  font-weight:bold;
  color:#454545;
  border-radius:0px;
}




  /*BUTTONS MOVE TO FORMS:CSS*/

/* a.share, a.unshare, a.selectDir, a.btn {
  float:right;
  font-size: 14px;
  font-weight: bold;
  background:#444;
  color:#fff;
  display:inline-block;
  margin:3px;
  padding:3px 10px;
  text-shadow: 0px -1px #000;
  border-radius:3px;
  text-align:center;
  min-width:70px;
  text-transform: uppercase;
} */

a.btn {
  float:right;
  font-size: 14px;
  font-weight: bold;
  background:#444;
  color:#fff;
  display:inline-block;
  /*margin:3px;*/
  vertical-align:middle;
  padding:3px 10px;
  text-shadow: 0px -1px #000;
  border-radius:3px;
  text-align:center;
  min-width:70px;
  text-transform: uppercase;
}

/*a.greenbtn {*/
/*  background: -moz-linear-gradient(center bottom , #0a7705, #52ac4e);*/
/*  background: -webkit-gradient(linear, left top, left bottom, from(#52ac4e), to(#0a7705));*/
/*}*/

  a.greenbtn {
    color:#fff!important;
    background: -moz-linear-gradient(center bottom , #0a7705, #52ac4e);
    background: -webkit-gradient(linear, left top, left bottom, from(#52ac4e), to(#0a7705));
  }

/*  a.unshare {*/
/*    background: -moz-linear-gradient(center bottom , #600000, #900000);*/
/*    background: -webkit-gradient(linear, left top, left bottom, from(#900000), to(#600000));*/
/*  }*/

/*  a.selectDir {*/
/*    background: -moz-linear-gradient(center bottom , #2B78C6, #00A3D3) repeat scroll 0 0 transparent;*/
/*    background: -webkit-gradient(linear, left top, left bottom, from(#00A3D3), to(#2B78C6));*/
/*  }*/

  a.bluebtn {
    color:#fff!important;
    background: -moz-linear-gradient(center bottom , #2B78C6, #00A3D3) repeat scroll 0 0 transparent;
    background: -webkit-gradient(linear, left top, left bottom, from(#00A3D3), to(#2B78C6));
  }
  

