* { padding: 0; margin: 0; }

html,body {
  margin:0;
  padding:0;
  height:100%;
  background-color: #EDEDED;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font: 12px/17px;
  color: #575757;
}

div#container {
  position:relative;
  margin:0 auto;
  height:auto !important;
  height:100%;
  min-height:100%;
}

div#header {
  padding:1em;
  color: #888;
  padding: 10px 0px;
  border-width: 0px 0px 0px 0px;
  border-style: solid;
  border-color: #fff;
  box-shadow: 0px 0px 2px #aaa inset;
  background:#84B952;
}

div#header h1 {
  font-size:40px;
  line-height:40px;
  color: #444;
  color: #fff;
  text-shadow: 0 -1px 0 #666;
}

div#navbar {
  padding:1em 1em 5em;
  padding:0;
  margin: 0 0 40px 0;
  position:relative;
  border-width: 0px 1px;
  border-style: solid;
  border-color: #ddd;
  background: none repeat scroll 0 0 #FFFFFF;
  border-radius: 0 0 0 0;
}

div#content {
  padding:1em 1em 5em;
  padding:0;
  min-width:960px;
  width:960px;
  position:relative;
  margin: 50px auto;
  border-style: solid;
  border-color: #ddd;
}

div#footer {
  position:relative;
  width:100%;
  bottom:0;
  padding:10px 0px;
  margin:50px 0px 0px 0px;
}

div#footer .footertext {
  display:inline-block;
  padding:1px 5px;
  font-weight: bold;
  text-shadow: 0 -1px 0px #000;
  font-size:22px;
  line-height:22px;
  color:#fff;
  vertical-align:middle;
  text-align:center;
  background: #474747;
  -moz-border-radius:10%;
  border:0px solid #008000;
}



/*BETA BUTTON*/
div#beta {
  position: absolute;
  width:74px;
  height:74px;
  padding:0px;
  display:inline-block;
  margin-right:20px;
  right:0;
  z-index:100;

  box-shadow:0px 0px 10px #fff;
  border-radius:100%;
}

div#beta img { position:absolute; }
div#beta .shine {
  width:74px; height:74px;
  background:url('../images/sticker/beta-shine.png') no-repeat;
  position:absolute;
  background-position:-150px 0;
  border-radius: 37px;
}


