div.mhead {
  color:#fff;
  background: #666;
  background: -moz-linear-gradient(center top , #888, #454545) repeat scroll 0 0 transparent;
  background: -webkit-gradient(linear, left top, left bottom, from(#888), to(#454545));

  border-width: 1px;
  border-style: solid;
  border-color: #666;
  border-radius: 3px 3px 0 0;
  padding:5px 0px;

  position:relative;
}

div.mhead h2 {
  text-shadow: 0px -1px 0 #000;
  text-align:center;
  vertical-align:middle;
}

div.mhead h2, div.mhead h4 {
  text-shadow: 0px -1px 0 #000;
  text-align:center;
}

div.mhead h4 { font-size:12px; color:#eee; padding: 0px 0px; }
div.mhead div.leftcont { text-align:left; }
div.mhead div.rightcont { text-align:right; }

div.mhead div#actions {
  box-shadow: 0px 0px 2px #222 inset;
  border-radius:3px;
  border-width: 1px 1px 1px 1px;
  border-style: solid;
  border-color: #222 #353535 #222 #353535;
  float: right;
  margin: 0 3px 0 0;
  width: 185px;
}

div.mhead a.button {
  color:#fff;
  font-weight:bold;
  font-size: 14px;
  text-decoration:none;
  text-align:center;
  text-shadow: 0px -1px 0 #222;

  padding: 4px 0px 6px 0px;
  width:25.0%;
  height:32px;
  line-height:32px;

  border-radius:3px;

  outline:1px solid transparent;
  display:inline-block;
  border: 0px solid transparent;
  border-right:0px solid #666;
  float:left;

  box-shadow: 1px 0px 0px #444, -1px 0px 0px #444;
}

div.mhead a.button:hover { background: #247ec8; }

div.mhead a.button img {
  vertical-align:middle;
  height:24px;
  width:24px;
  display:inline-block;
}

div.mhead a#submit {
  color:#fff;
  font-weight:bold;
  font-size: 14px;
  text-decoration:none;
  text-align:center;
  text-shadow: 0px -1px 0 #222;

  height:32px;
  line-height:32px;



  float:left;
  box-shadow: 1px 0px 0px #444, -1px 0px 0px #444;

  border-width: 1px 1px 1px 1px;
  border-style: solid;
  border-color: #222 #555 #777 #555;
  border-radius:3px;

  width:0;
  padding:4px 0px;
  display:none;
  overflow:hidden;
  background:green;
  background: -moz-linear-gradient(center bottom , #0E6C0E, #00A200) repeat scroll 0 0 transparent;
  background: -webkit-gradient(linear, left top, left bottom, from(#00A200), to(#0E6C0E));
}

div.mhead a#back {
  border-width: 1px 1px 1px 1px;
  border-style: solid;
  border-color: #222 #353535 #353535 #353535;
  min-width:60%;
  padding:5px 0px;
  background:#555;
  box-shadow: 0px 0px 2px #222 inset;
  background: -moz-linear-gradient(center bottom , #353535, #777) repeat scroll 0 0 transparent;
  background: -webkit-gradient(linear, left top, left bottom, from(#777), to(#353535));
}

div.mhead a#back.cancel {
  background: -moz-linear-gradient(center bottom , #600000, #e00000) repeat scroll 0 0 transparent;
  background: -webkit-gradient(linear, left top, left bottom, from(#777), to(#353535));
}

div.mhead a.button:hover {
  border-style: solid;
  border-color: #353535;
}

div.mbody {
  border-width: 0px 1px 1px 1px;
  border-style: solid;
  border-color: #ccc;
  background:#fff;
/*  background: -moz-linear-gradient(center bottom , #fff, #f8f8f8) repeat scroll 0 0 transparent;*/
/*  background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#fff));*/
}

div.mstatus {
  background:#FFFFF6;
  background: -moz-linear-gradient(270deg, #FFFFF6, #FFFDE3) repeat scroll 0 0 transparent;
  background: -webkit-gradient(linear, left top, left bottom, from(#FFFFF6), to(#FFFDE3));

  border-bottom: 1px solid #E7E7CE;
  border-radius: 5px 5px 5px 5px;

  color: #666;
  font-size: 16px;
  padding:10px 0px;
}

div.mstatus span.ftoggle_container {
  margin-right:3px;
}

div.mstatus p {
  padding:0px 5px;
  font-size:22px;
  line-height:32px;
  font-weight:bold;
  vertical-align:middle;
}

div.mstatus p img {
  display:inline-block;
  width:32px;
  height:32px;
  vertical-align:top;
}


div.mcontent { width:100%; height:100%; float:left; }
div.mcontent, div.mform {
  border-width: 0px;
  border-style: solid;
  border-color: #ccc;

  min-height: 220px;

  margin:5px 2px;
  padding:5px 0px;

  background:#fff;
/*  background: -moz-linear-gradient(center bottom , #fff, #f8f8f8) repeat scroll 0 0 transparent;*/
/*  background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#fff));*/
}

div.mcontent div.line, div.mform div.line {
  border-width: 0px 0px 1px 0px;
  border-style: solid;
  border-color: #ccc;

  font-size:20px;
  line-height:32px;
  font-weight:bold;

  padding:5px 5px;
  clear:both;
  overflow:hidden;
  vertical-align:middle;
}


div.mcontent div.key, div.mform div.key { display:inline-block; width:50%; float:left; }
div.mcontent div.value, div.mform div.value {
  display:inline-block;
  width:47%;
/*  padding-right:10px;*/
  float:right;
  text-align: right;
}

/*div.mcontent div.key, div.mform div.key {  }*/
/*div.mcontent div.value, div.mform div.value {  }*/

div.mform div.last { border: none; }

div.mcontent div.link {
  border-width: 0px 0px 1px 0px;
  border-style: solid;
  border-color: #ccc;

  font-size:20px;
  font-weight:bold;

  padding:5px 5px 5px 30px;
  overflow:hidden;
  position:relative;

  padding-left:60px;
}

div.mcontent div.link:before {

  content:url(../images/custom.png);
  content:url(../images/file48.png);
  border-radius: 4px;
  position:absolute;
  left:0px;
  top:4px;
}

div.link div.key{
  width:67%;
}
div.link div.value {
   width:30%;
}

span.delcont {
  box-shadow: 0px 0px 0px #222 inset;
  display:inline-block;
  padding:5px;
  line-height:8px;
  border-radius:100%;
  border:2px solid #b8a6a6;
}

span.delcont img { height:16px; width:16px; }
div.mcontent a.remove-share {
  display:none;
}

div.mcontent div.link a { color: #666; text-transform:uppercase; }
div.mcontent div.link.active { background: #f0f0f0; };
div.mcontent div.link:hover { background:#f0f0f0; }

div.mform { width:0%; height:100%; float:right; display:none; padding:5px 0px 5px 10px; }
div.mform div.last { color:#888; }

div.msettings { margin-bottom:30px; display:none;}

div.mcontent h2.mheading {
  background:none;
  margin-bottom:10px;
  padding:12px 0px;
  border-bottom:3px solid #A1B7A7;
  color:#575757;
  font-size:22px;
}

div.mcontent h3.mheading {
  background:none;
  margin-bottom:10px;
  padding:12px 0px;
  border-bottom:3px solid #A1B7A7;
  color:#575757;
  font-size:18px;
}

div.mcontent h2.grey { border-bottom:3px solid #A1B7A7; }
div.mcontent h2.orange { border-bottom:3px solid #C79E61; }
div.mcontent h2.grey { border-bottom:3px solid #a0a0a0; }

.mheading a { color:#3e4041; font-size:18px; vertical-align: middle; margin-right:5px;}
.mheading a#close:after {
  position:relative;
  content:url(../images/close.png);
  vertical-align:bottom;
  top: 1px;
}

.mheading a#more:after {
  position:relative;
  content:url(../images/eye.png);
  vertical-align:bottom;
  top:1px;
}


div#wait {
  background:grey;
  color:#fff;
  opacity: 0.80;
  position:absolute;
  z-index:1000;
  padding:20px 50px;
  border-radius:5px;
  top:110px;
  left:33%;
  right:33%
  width:50%;
  text-align:right;
  display:none;
  font-size: 30px;
  font-weight:bold;
  text-shadow: 0px -2px 0px #222;
}

div#wait img {
  background:white;
  border-radius:100%;
  border:3px solid #555;
  padding:5px;
}

.uppercase {text-transform:uppercase; }

div.infobox {
  vertical-align:middle;
  background: -moz-linear-gradient(270deg, #FFFFF6, #FFFDE3) repeat scroll 0 0 transparent;
  margin:10px 0px;
  padding:10px 5px;
  border:2px solid grey;
  border-radius: 5px;
  color: #666666;
}

span.infomark {
  border-radius:100%;
  display:inline-block;
  width:28px;
  height:28px;
  border:2px solid #507CA7;
  line-height:28px;
  font-size: 22px;
  font-weight:bold;
  color:#fff;
  text-align:center;  text-shadow: 0px -1px 0 #000;
  background: -moz-linear-gradient(center bottom , #2B78C6, #00A3D3) repeat scroll 0 0 transparent;
}


/* #new-container */
#new-container div.line { line-height: 25px;}
#new-container div.key { width: 60%;}
#new-container div.value { width: 33%;}

#new-container div.image-container { display:inline-block; padding:0px 5px; float:left;}
#new-container div.info-container { display:inline-block; padding:0px 5px;  float:left;}

#new-container span.name { display:inline-block; }
#new-container span.path { display:block; color:#888; font-size:14px; }

img.xsmall { width:16px; height:16px; border-radius:16px; }
img.small { width:22px; height:22px; border-radius:22px; }
img.medium { width:32px; height:32px; border-radius:32px; }
img.large { width:48px; height:48px; border-radius:4px; }
img.xlarge { width:64px; height:64px; border-radius:64px; }

