a { text-decoration:none; text-align:center; }

/* MODULE HEADER */
div.moduleHead {
  color:#fff;
  background: #666;
  background: -moz-linear-gradient(center top , #888, #454545) repeat scroll 0 0 transparent;
  background: -webkit-gradient(linear, left top, left bottom, from(#888), to(#454545));

  border-width: 1px;
  border-style: solid;
  border-color: #666;

  border-radius: 3px 3px 0 0;
  padding:5px 0px;
  position:relative;

  text-shadow: 0px -1px 0 #000;
}

div.moduleHead h2 { text-align:center;}
div.moduleHead h4 { font-size:12px; color:#eee; }

#actionToolbar {
  box-shadow: 0px 0px 2px #222 inset;
  border-radius:3px;
  border-width: 1px 1px 1px 1px;
  border-style: solid;
  border-color: #222 #353535 #222 #353535;

  float: right;
  margin: 0 3px 0 0;
  width: 185px;
}

#actionToolbar a.abtn {
  color:#fff;
  font-weight:bold;
  font-size: 14px;

  padding: 4px 0px 6px 0px;

  height:32px;
  line-height:32px;
  border-radius:3px;

  outline:1px solid transparent;
  display:inline-block;

  float:left;
  box-shadow: 1px 0px 0px #444, -1px 0px 0px #444;
}

#actionToolbar a.width25 { width:25.0%; }
#actionToolbar a.width33 { width:33.3%; }
#actionToolbar a.width50 { width:50.0%; }
#actionToolbar a.width100 { width:50.0%; }

#actionToolbar a.abtn:hover { background: #777; }
#actionToolbar a.activeSlider { background: #247ec8; }

a#back, a#submit {
  color:#fff;
  font-weight:bold;
  font-size: 14px;
  text-shadow: 0px -1px 0 #222;

  height:32px;
  line-height:32px;

  border-radius:3px;
  border-width: 1px 1px 1px 1px;
  border-style: solid;
  border-color: #222 #353535 #353535 #353535;

  /*box-shadow: 0px 0px 2px #222 inset; */

  display:inline-block;
  padding:5px 0px;
  overflow:hidden;
}

a#back {
  min-width:60%;
  background: -moz-linear-gradient(center bottom , #353535, #777) repeat scroll 0 0 transparent;
  background: -webkit-gradient(linear, left top, left bottom, from(#777), to(#353535));
}

a#submit {
  width:0;
  max-width:99%;
  float:left;
  display:none;
  background: -moz-linear-gradient(center bottom , #0E6C0E, #00A200) repeat scroll 0 0 transparent;
  background: -webkit-gradient(linear, left top, left bottom, from(#00A200), to(#0E6C0E));
}
/* END MODULE HEADER */


/* NOTIFICATION AND STATUS */
div#moduleStatus, div#notificationArea {
  border-width: 0px 1px 1px 1px;
  border-style: solid;
  border-color: #222 #ccc #eee #ccc;
  min-height: 32px;
}

div#moduleStatus p.moduleName, div#notificationArea p.moduleName  {
  font-size: 22px;
  font-weight: bold;
  margin-top:2px;
  vertical-align:middle;
  color: #666;
}

div#moduleStatus img, div#notificationArea img {
  display:inline-block;
  width:32px;
  height:32px;
  margin-right:5px;
  vertical-align:middle;
  margin-top:-2px;
}

div#moduleStatus span.message, div#notificationArea span.message {
  display:inline-block;
  line-height:32px;
  width:100%;
  vertical-align:middle;
}

div#moduleStatus div.right, div#notificationArea div.right {
  width:185px;
  margin: 0 15px 0 0;
}

div#moduleStatus div.statusWrapper {
  background: #FFFFF6;
  background: -moz-linear-gradient(270deg, #FFFFF6, #FFFDE3) repeat scroll 0 0 transparent;
  background: -webkit-gradient(linear, left top, left bottom, from(#FFFFF6), to(#FFFDE3));

  font-weight:bold;
  font-size:18px;

  overflow:hidden;
  padding:12px 0px;
  vertical-align:middle;
}

div#notificationArea { display: none; position:absolute; top:61px; }

div#notificationArea div.info, div#notificationArea div.success, div#notificationArea div.error {
 overflow:hidden;
 padding:12px 0px;
 font-weight:bold;
 font-size:18px;
}

div#notificationArea .info {
  background: #E9F1F4;
  background: -moz-linear-gradient(270deg, #D8DEE2, #E9F1F4) repeat scroll 0 0 transparent;
  background: -webkit-gradient(linear, left top, left bottom, from(#D8DEE2), to(#E9F1F4));
}

div#notificationArea .success {
  background-color: #F1F7F1;
  background-color: #d7f5d7;
  border-bottom: 1px solid #C5E7C5;
  color: #4D7B0F;
  /*background: -moz-linear-gradient(270deg, #D8DEE2, #E9F1F4) repeat scroll 0 0 transparent;
  background: -webkit-gradient(linear, left top, left bottom, from(#D8DEE2), to(#E9F1F4));*/
}

div#notificationArea .error {
  color: #bb593e;
  background-color: #FFDBDB;
  /*border-color: #B50000;*/
  border-bottom: 1px solid #bb593e;
/*  background-color: #F1F7F1;
  border-bottom: 1px solid #bb593e;*/
}
/* END NOTIFICATION AND STATUS*/

/* MODULE BODY */

div.moduleBody {
  border-width: 0px 1px 1px 1px;
  border-style: solid;
  border-color: #ccc;
  background:#fff;
}

div.moduleBody h2 {
  font-size:22px; margin:20px 0 0 0; padding:0;
  background: none repeat scroll 0 0 transparent;
  border-bottom: 3px solid #A1B7A7;
  color: #575757;
  font-size: 22px;
  margin-bottom: 10px;
  /*padding: 12px 0;*/
}

div.moduleBody .moduleForm div.line {
  border-color: #CCCCCC;
  border-style: solid;
  border-width: 0 0 1px;
  font-size: 20px;
  font-weight: bold;
  overflow: hidden;
  padding: 5px 0px 5px 0px;
  position: relative;
}

div.moduleBody .moduleForm div.key{ float:left; width:50%; color:#888; }
div.moduleBody .moduleForm div.value { float:left; width:30%; }
div.moduleBody .moduleForm div.action { float:right; width:20%; }

div.moduleBody .moduleForm span.description {
  color: #bababa;
  display: block;
  font-size: 12px;
  text-align:left;
}

div.moduleBody .moduleForm input[type="text"] {
  border:1px dotted #ccc;
  padding:1px 5px;
  font-weight:bold;
  font-size: 20px;
  color:#575757;
}
div.moduleBody .moduleForm input[type="text"]:hover { border: 1px solid orange; }

#slides { margin: 0 auto; width:100%; min-height:420px; overflow:hidden; }
#slides-container { background:#fff; width:3840px; margin-left:0; }
#slides .slide {  width: 960px; float:left; min-height:1px; }

/* END MODULE BODY */
/* OTHERS MOVE TO ANOTHER LOCATION */

.left { float:left; }
.right { float:right; }

.textLeft {text-align:left;}
.textCenter {text-align:center;}
.textRight {text-align:right;}

div#waitAnimation {
  background:#222;
  color:#fff;
  opacity: 0.80;

  position:absolute;
  z-index:1000;
  padding:20px 50px;
  border-radius:5px;

  top:220px;
  left:33%;
  right:33%
  width:50%;
  display:none;
  font-size: 30px;
  font-weight:bold;
  text-shadow: 0px -2px 0px #222;
}

div#waitAnimation img {
  background:#fff;
  border-radius:100%;
  margin-right:10px;
  padding:5px;
}

