<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
 "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/standards/PolicyKit/1.0/policyconfig.dtd">
<policyconfig>

  <vendor>SUSE Media Server</vendor>
  <vendor_url>https://github.com/vlewin/suse-media-server</vendor_url>

  <action id="org.augeas.smb.read">
    <description>Description of action</description>
    <message>Read permissions</message>
    <defaults>
      <allow_inactive>yes</allow_inactive>
      <allow_active>yes</allow_active>
    </defaults>
  </action>

  <action id="org.augeas.smb.write">
    <description>Description of action</description>
    <message>Write permissions</message>
    <defaults>
      <allow_inactive>yes</allow_inactive>
      <allow_active>yes</allow_active>
    </defaults>
  </action>
</policyconfig>

