# smb.conf is the main Samba configuration file. You find a full commented
# version at /usr/share/doc/packages/samba/examples/smb.conf.SUSE if the
# samba-doc package is installed.
# Date: 2011-03-01
[global]
   workgroup = WORKGROUP
   security = share
   restrict anonymous = no
   guest account = nobody
   map to guest = Bad User
   netbios name = Linux
   usershare allow guests = Yes
[files]
   read only = no
   available = yes
   guest ok = yes
   inherit acls = yes
   writeable = yes
   browseable = yes
   guest only = yes
   path = /home/mrstealth/SAMBA/Dokumente
   force user = mrstealth
   force group = users
[photo]
   read only = no
   available = yes
   guest ok = yes
   inherit acls = yes
   writeable = yes
   browseable = yes
   guest only = yes
   path = /home/mrstealth/SAMBA/Bilder
   valid users = %S
   create mode = 0600
   directory mode = 0700
[audio]
   read only = no
   available = yes
   guest ok = yes
   inherit acls = yes
   writeable = yes
   browseable = yes
   guest only = yes
   path = /home/mrstealth/SAMBA/Musik
   create mask = 0660
   directory mask = 0770
   force group = users



[printers]
   comment = All Printers
   browseable = no
   path = /tmp
   printable = yes
   public = no
   writable = no
   create mode = 0700

