<% Rails.logger.error "INSPECT #{type.inspect}" %>

<div class="<%= type %>">
  <div class="grid_3 left">
    <p class="moduleName"><img src="/images/<%= type %>.png" alt="Expanded" border="0" />SAMBA</p>
  </div>
  <div class="grid_6 textCenter">
    <span> <%= message %> </span>
  </div>
  <div class="grid_3 right">
    <span>&nbsp;</span>
  </div>
</div>
