<div class="grid_3 left">
  <span><img src="/images/samba.png" alt="Expanded" border="0" />{INFO:}</span>
</div>
<div class="grid_6 middle">
  <span><%= @message %> </span>
</div>
<div class="grid_3 right">
  <span>&nbsp;</span>
</div>
